*.exe
output/
build/win-vs16/*
!build/win-vs16/CMakeLists.txt
!build/win-vs16/*.vcxproj
!build/win-vs16/*.filters
!build/win-vs16/libpilo.sln
output/
build/linux-gcc/*
!
build/linux-gcc/CMakeLists.txt
